$gray-theme: rgb(92, 87, 87);
$gray-theme2: rgb(207, 201, 201);
$gray-theme3: rgb(97, 91, 91);
$gray-theme4: rgba(124, 121, 121, 0.815); /*use these for the overall thee of the site. Gray is trending*/
$orange-theme: rgb(160, 112, 7);
$orange-theme2: rgb(230, 154, 15); /*use the oranges for fonts*/
$white-theme: bisque; /*background colour and negative space colour for the header*/
$pink-theme: hotpink; /*active links in header*/
$purple-theme: rgb(218, 73, 218); /*links on the menu page and in nav bar before being clicked*/









