$gray-theme: rgb(92, 87, 87);
$gray-theme2: rgb(155, 151, 151);
$orange-theme: rbg(222, 70, 7);
$yellow-theme: rgb(204, 201, 9);
$green-theme: rgb(71, 180, 0);
$white-theme: white;
$orange-theme2: rgb(230, 154, 15); 
$pink-theme: hotpink;
$red-theme: red;
$dark-red-theme: rgb(128, 0, 0);
$blue-theme: rgb(20, 20, 224);









