$gray-theme: rgb(92, 87, 87);
$gray-theme2: rgb(207, 201, 201);
$gray-theme3: rgb(97, 91, 91);
$gray-theme4: rgba(124, 121, 121, 0.815);
$orange-theme: rgb(160, 112, 7);
$yellow-theme: rgb(204, 201, 9);
$green-theme: rgb(71, 180, 0);
$green-theme2: rgb(44, 138, 4);
$white-theme: white;
$orange-theme2: rgb(230, 154, 15); 
$pink-theme: hotpink;
$red-theme: red;
$dark-red-theme: rgb(128, 0, 0);
$blue-theme: rgb(20, 20, 224);
$blue-theme2: rgb(57,84,165);
$purple-theme: rgb(150, 44, 150);









