/* DO NOT LINK API KEY!!!!!!!!!!


so i if i have to make the change in the style file then i have to go to the other scss files and hit cntl s for the changes to work. Nothing else will make them work

where i left off
-I started the 40 year animation and have it commented out in the 40year.scss and also in index.html I commented out the sun picture and created the body for the animation. I just commented it out for now
-first thing i should do is back up a copy to github of what i have, go from there, the things i have listed below can basically be done in order/chronologically.

all i have left for mobile is to:
-fix git
-I have to make the phone number not clickable on 600<


review
-positioning w4a to fix the problems with the nav bar and phon number at the top of the screen. I may also want to make the font smaller?
-change absolute units to relative so that it scales to device size. (except the really small stuff) and use % for children/parents

MAKE SURE I MAKE IT NOT CLICKABLE ON DESKTOP/TABLET 
MAKE THE EMAIL US LINK LOOK DIFFERENT THAN THE OTHER PAGE LINKS
-use float to wrap text around images like in word.
-fix the nav bar and phone number to be centered, not margin 25%, it just sort of works for now but needs to be fixed.

problems i have to fix
-my paragraphs are going out on the mobile still, so i need to fix that
- i have to center the nav bar. its not a problem on mobile really but is off to the left on tablet
  - i have to do the same thing to the phone number at the top of the page
- on desktop (1024x768) I want to change the entire layout to not be a list, but instead be a grid 

if i can/have time
-give the number and nav a relative position so that i can add space to any of the 4 sides
use an absolute position for the animations over the images (can apply to food and to home page gallery) -> coud be an alternative to the "hidden menu"
-add the "hidden menu" and navigation for things like specific type of pizza -> maybe leave until I complete everything and either add that as a cool feature, or back up plan is to just make a cell for every item (that's not as cool, but time management) 
    could make it so that the "hidden menu" just pops up over what is already working and displays the different types of food? like pizza types and beer brands? 
        WHAT DOES 24 ITEMS ACTUALLY MEAN FOR THE ASSIGNMENTS REQUIREMENTS??????
-style nav bar
-make 40 year animation https://www.codingflicks.com/2020/11/pure-css-number-counter.html teaches how to do a digit counter. 
-https://www.proglobalbusinesssolutions.com/css-hover-effects/ for ideas to implement
-popup that looks like an incoming facetime is effective. I saw this at https://www.lifehack.org/articles/productivity/types-procrastination-and-how-you-can-fix-them.html about halfway down the page it just pops out

formula to make users know there is more (especally horizontal scrolling)
so set all of the widths(or heights) of a particular section so that the sum is between 80-90% of the screen, then there is always 10-20% of the next section on the screen, so the user knows it is there.


*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5c5757;
}

header {
  margin-left: 25%;
  display: inline-block;
  font-size: 3rem;
}

header a:link {
  color: white;
}

header a:active {
  color: hotpink;
}

header img {
  width: 75px;
}

main {
  color: #e69a0f;
  background-color: white;
  font-size: large;
  font: bold;
  text-align: center;
  padding: 1rem;
  grid-gap: 1vw;
  /*change up the code below to make it my own. all div.scrollmenu*/
  /*because they are all in the animated id does that mean 
i think i need to make a class of animation and a class of images and they are the start and end point of he animation.
 perhaps i could put this animated section in it's own page and import it like i will with colours*/
}

main .title {
  font: 2em sans-serif;
}

main .subtitle {
  font: 1.5em sans-serif;
}

main img {
  height: 20vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #menuItems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

main nav {
  margin-left: 25%;
  font-size: 1.5rem;
  position: fixed;
  bottom: 5%;
  background-color: #9b9797;
}

main nav a:link {
  color: maroon;
}

main nav a:active {
  color: hotpink;
}

main nav a:visited {
  color: rbg(222, 70, 7);
  font-weight: bold;
}

footer img {
  display: inline-block;
  height: 50px;
}

/* add that to above 1100*
  // div.scrollmenu a:hover {
    background-color: $gray-theme2;
  } */
main iframe {
  width: 92vw;
}
/*# sourceMappingURL=contact-us-style.css.map */