* {
  margin: 0;
  padding: 0;
}

/*use these for the overall thee of the site. Gray is trending*/
/*use the oranges for fonts*/
/*background colour and negative space colour for the header*/
/*active links in header*/
/*links on the menu page and in nav bar before being clicked*/
body {
  background-color: rgb(92, 87, 87);
} /*THIS ONLY APPLIES TO THE HEADER AND FOOTER! The main will be bisque (on top) of it (think z-index)*/
header {
  display: inline-block;
  font-size: 3rem;
  /*the a tag will disappear above 600*/
}
header a:link {
  color: bisque;
}
header a:active {
  color: hotpink;
}
header img {
  width: 75px; /*for logo*/
}
header p {
  display: none; /*this is for the phone nuumber that is not clickable, it will change above 600*/
}

main {
  color: rgb(230, 154, 15);
  background-color: bisque;
  font-size: large;
  font: bold;
  text-align: center;
  padding: 1rem;
  grid-gap: 1vw;
  /*below in the div.scrollmenu sections is the horizontal scroll info on the index page*/
}
main .title {
  font: 2em sans-serif;
}
main .subtitle {
  font: 1.5em sans-serif;
}
main img {
  height: 20vh;
  align-items: center;
}
main div.scrollmenu {
  background-color: bisque;
  overflow: auto;
  white-space: nowrap;
}
main div.scrollmenu a {
  display: inline-block;
  color: rgb(160, 112, 7);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
main nav {
  font-size: 1.5rem;
  position: fixed;
  bottom: 5%;
  background-color: rgb(207, 201, 201);
}
main nav a:link {
  color: rgb(218, 73, 218);
}
main nav a:active {
  color: hotpink;
}
main nav a:visited {
  color: rgb(160, 112, 7);
  font-weight: bold;
}

footer img {
  display: inline-block;
  height: 50px;
}

/*use these for the overall thee of the site. Gray is trending*/
/*use the oranges for fonts*/
/*background colour and negative space colour for the header*/
/*active links in header*/
/*links on the menu page and in nav bar before being clicked*/
@media screen and (min-width: 600px) {
  /*the a link and p do a swith above 600, the a tag for the clickable phone number disappears and the the p becomes visible*/
  header a:link {
    display: none;
  }
  header p {
    display: inline;
    color: bisque;
  }
  main img {
    height: 40vh;
  }
  main iframe {
    height: 60vh;
    width: 80vw;
  }
}
/*make the rules below only apply to the contact us page and import generic rules for 600< */
@media screen and (min-width: 600px) {
  main iframe {
    width: 92vw;
  }
  main .grid-container {
    display: grid;
    font-size: 2rem;
  }
  main .grid-container .reception {
    background-color: rgb(97, 91, 91);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
  }
  main .grid-container .reception img {
    float: left;
  }
  main .grid-container .reception a + p {
    float: right;
  }
  main .grid-container .GM {
    background-color: rgba(124, 121, 121, 0.815);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
  }
  main .grid-container .GM img {
    float: right;
  }
  main .grid-container .GM a + p {
    float: left;
  }
  main .grid-container .BM {
    background-color: rgb(97, 91, 91);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
  }
  main .grid-container .BM img {
    float: left;
  }
  main .grid-container .BM a + p {
    float: right;
  }
  main .grid-container .FM {
    background-color: rgba(124, 121, 121, 0.815);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
  }
  main .grid-container .FM img {
    float: right;
  }
  main .grid-container .FM a + p {
    float: left;
  }
  main .grid-container .HC {
    background-color: rgb(97, 91, 91);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
  }
  main .grid-container .HC img {
    float: left;
  }
  main .grid-container .HC a + p {
    float: right;
  }
}/*# sourceMappingURL=contact-us-style.css.map */