@import 'style.scss';
@import 'min600';
/*make the rules below only apply to the contact us page and import generic rules for 600< */
@media screen and (min-width:600px) {
  main {
    iframe {
    width: 92vw;
    }
    .grid-container{
      display: grid;
      font-size: 2rem;
      .reception {
        background-color: $gray-theme3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(70px, auto);
        img {
          float: left;
        }
        a+p{
          float: right;
        }
      } 
      
      .GM {
        background-color: $gray-theme4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(70px, auto);
        img {
          float: right;
        }
        a+p{
          float: left;
        }
      }

      .BM {
        background-color: $gray-theme3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(70px, auto);
        img {
          float: left;
        }
        a+p{
          float: right;
        }
      }

      .FM {
        background-color: $gray-theme4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(70px, auto);
        img {
          float: right;
        }
        a+p{
          float: left;
        }
      }

      .HC {
        background-color: $gray-theme3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(70px, auto);
        img {
          float: left;
        }
        a+p{
          float: right;
        }
      }
    }
  }
}
