@import 'style.scss';

#menuItems {
  display: grid;
  grid-template-columns: 1fr;
}
@import 'min600';
@media screen and (min-width:600px) {

    main {
      .menuItems {        
        height: 45vh;
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: repeat(auto-fll, minmax(250px,1fr));
      }
      
      .menuItems {
        font-size: 5rem;
        text-align: center;
        padding: 4rem;
        grid-gap: 1vw;
      }
      img {
        width: 350px;
      }
      .grid-container{
        display: grid;
        font-size: 2rem;
        .reception {
          background-color: $gray-theme3;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: minmax(70px, auto);
          img {
            float: left;
          }
          a+p{
            float: right;
          }
        } 

        .hawaiian-pizza {
          background-color: $gray-theme4;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: minmax(70px, auto);
          img {
            float: right;
          }
          a+p{
            float: left;
          }
        }
  
        .Pepperoni-pizza {
          background-color: $gray-theme3;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: minmax(70px, auto);
          img {
            float: left;
          }
          a+p{
            float: right;
          }
        }
  
        .cheese-pizza {
          background-color: $gray-theme4;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: minmax(70px, auto);
          img {
            float: right;
          }
          a+p{
            float: left;
          }
        }
  
        .greek-pizza {
          background-color: $gray-theme3;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: minmax(70px, auto);
          img {
            float: left;
          }
          a+p{
            float: right;
          }
        }

        .ham-and-mushroom-pizza {
          background-color: $gray-theme4;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: minmax(70px, auto);
          img {
            float: left;
          }
          a+p{
            float: right;
          }
        }

        .bbq-pulled-pork-pizza {
          background-color: $gray-theme3;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: minmax(70px, auto);
          img {
            float: left;
          }
          a+p{
            float: right;
          }
        }

        .california-pizza {
          background-color: $gray-theme4;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: minmax(70px, auto);
          img {
            float: left;
          }
          a+p{
            float: right;
          }
        }

        .chicago-deep-dish-pizza {
          background-color: $gray-theme3;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: minmax(70px, auto);
          img {
            float: left;
          }
          a+p{
            float: right;
          }
        }
      }
    }
  }

  @media screen and (min-width:1000px) {
    main{
      img{
        width: 500px;
      }
    }
  }