* {
  margin: 0;
  padding: 0;
}

/*use these for the overall thee of the site. Gray is trending*/
/*use the oranges for fonts*/
/*background colour and negative space colour for the header*/
/*active links in header*/
/*links on the menu page and in nav bar before being clicked*/
body {
  background-color: rgb(92, 87, 87);
} /*THIS ONLY APPLIES TO THE HEADER AND FOOTER! The main will be bisque (on top) of it (think z-index)*/
header {
  display: inline-block;
  font-size: 3rem;
  /*the a tag will disappear above 600*/
}
header a:link {
  color: bisque;
}
header a:active {
  color: hotpink;
}
header img {
  width: 75px; /*for logo*/
}
header p {
  display: none; /*this is for the phone nuumber that is not clickable, it will change above 600*/
}

main {
  color: rgb(230, 154, 15);
  background-color: bisque;
  font-size: large;
  font: bold;
  text-align: center;
  padding: 1rem;
  grid-gap: 1vw;
  /*below in the div.scrollmenu sections is the horizontal scroll info on the index page*/
}
main .title {
  font: 2em sans-serif;
}
main .subtitle {
  font: 1.5em sans-serif;
}
main img {
  height: 20vh;
  align-items: center;
}
main div.scrollmenu {
  background-color: bisque;
  overflow: auto;
  white-space: nowrap;
}
main div.scrollmenu a {
  display: inline-block;
  color: rgb(160, 112, 7);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
main nav {
  font-size: 1.5rem;
  position: fixed;
  bottom: 5%;
  background-color: rgb(207, 201, 201);
}
main nav a:link {
  color: rgb(218, 73, 218);
}
main nav a:active {
  color: hotpink;
}
main nav a:visited {
  color: rgb(160, 112, 7);
  font-weight: bold;
}

footer img {
  display: inline-block;
  height: 50px;
}

.menuItems {
  display: grid;
  grid-template-columns: 1fr;
}

/*use these for the overall thee of the site. Gray is trending*/
/*use the oranges for fonts*/
/*background colour and negative space colour for the header*/
/*active links in header*/
/*links on the menu page and in nav bar before being clicked*/
@media screen and (min-width: 600px) {
  /*the a link and p do a swith above 600, the a tag for the clickable phone number disappears and the the p becomes visible*/
  header a:link {
    display: none;
  }
  header p {
    display: inline;
    color: bisque;
  }
  main img {
    height: 40vh;
  }
  main iframe {
    height: 60vh;
    width: 80vw;
  }
}
@media screen and (min-width: 600px) {
  /*Break the menu into 2 columns instead of one and add colour*/
  main .pizza {
    background: rgb(92, 87, 87);
  }
  main .lasagna {
    background: rgb(92, 87, 87);
  }
  main .spaghetti {
    background: rgb(92, 87, 87);
  }
  main .wings {
    background: rgb(92, 87, 87);
  }
  main .non-alcoholic {
    background: rgb(92, 87, 87);
  }
  main .beer {
    background: rgb(92, 87, 87);
  }
  main .wine {
    background: rgb(92, 87, 87);
  }
  main .desert {
    background: rgb(92, 87, 87);
  }
  main #menuItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
  }
  main #menuItems {
    font-size: 1em;
    text-align: center;
    grid-gap: 1vw;
  }
  main #menuItems a {
    color: rgb(218, 73, 218);
  }
  main img {
    width: 250px;
    float: left;
  }
  /*Break the menu into 3 columns instead of 2*/
}
@media screen and (min-width: 600px) and (min-width: 1000px) {
  main #menuItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  main #menuItems {
    font-size: 1em;
    text-align: center;
    grid-gap: 1vw;
  }
  main img {
    width: 200px;
  }
}/*# sourceMappingURL=menu-style.css.map */