* {
  margin: 0;
  padding: 0;
}

/*use these for the overall thee of the site. Gray is trending*/
/*use the oranges for fonts*/
/*background colour and negative space colour for the header*/
/*active links in header*/
/*links on the menu page and in nav bar before being clicked*/
body {
  background-color: rgb(92, 87, 87);
} /*THIS ONLY APPLIES TO THE HEADER AND FOOTER! The main will be bisque (on top) of it (think z-index)*/
header {
  display: inline-block;
  font-size: 3rem;
  /*the a tag will disappear above 600*/
}
header a:link {
  color: bisque;
}
header a:active {
  color: hotpink;
}
header img {
  width: 75px; /*for logo*/
}
header p {
  display: none; /*this is for the phone nuumber that is not clickable, it will change above 600*/
}

main {
  color: rgb(230, 154, 15);
  background-color: bisque;
  font-size: large;
  font: bold;
  text-align: center;
  padding: 1rem;
  grid-gap: 1vw;
  /*below in the div.scrollmenu sections is the horizontal scroll info on the index page*/
}
main .title {
  font: 2em sans-serif;
}
main .subtitle {
  font: 1.5em sans-serif;
}
main img {
  height: 20vh;
  align-items: center;
}
main div.scrollmenu {
  background-color: bisque;
  overflow: auto;
  white-space: nowrap;
}
main div.scrollmenu a {
  display: inline-block;
  color: rgb(160, 112, 7);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
main nav {
  font-size: 1.5rem;
  position: fixed;
  bottom: 5%;
  background-color: rgb(207, 201, 201);
}
main nav a:link {
  color: rgb(218, 73, 218);
}
main nav a:active {
  color: hotpink;
}
main nav a:visited {
  color: rgb(160, 112, 7);
  font-weight: bold;
}

footer img {
  display: inline-block;
  height: 50px;
}

#menuItems {
  display: grid;
  grid-template-columns: 1fr;
}

/*use these for the overall thee of the site. Gray is trending*/
/*use the oranges for fonts*/
/*background colour and negative space colour for the header*/
/*active links in header*/
/*links on the menu page and in nav bar before being clicked*/
@media screen and (min-width: 600px) {
  /*the a link and p do a swith above 600, the a tag for the clickable phone number disappears and the the p becomes visible*/
  header a:link {
    display: none;
  }
  header p {
    display: inline;
    color: bisque;
  }
  main img {
    height: 40vh;
  }
  main iframe {
    height: 60vh;
    width: 80vw;
  }
}
@media screen and (min-width: 600px) {
  main .menuItems {
    height: 45vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fll, minmax(250px, 1fr));
  }
  main .menuItems {
    font-size: 5rem;
    text-align: center;
    padding: 4rem;
    grid-gap: 1vw;
  }
  main img {
    width: 350px;
  }
  main .grid-container {
    display: grid;
    font-size: 2rem;
  }
  main .grid-container .reception {
    background-color: rgb(97, 91, 91);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
  }
  main .grid-container .reception img {
    float: left;
  }
  main .grid-container .reception a + p {
    float: right;
  }
  main .grid-container .hawaiian-pizza {
    background-color: rgba(124, 121, 121, 0.815);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
  }
  main .grid-container .hawaiian-pizza img {
    float: right;
  }
  main .grid-container .hawaiian-pizza a + p {
    float: left;
  }
  main .grid-container .Pepperoni-pizza {
    background-color: rgb(97, 91, 91);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
  }
  main .grid-container .Pepperoni-pizza img {
    float: left;
  }
  main .grid-container .Pepperoni-pizza a + p {
    float: right;
  }
  main .grid-container .cheese-pizza {
    background-color: rgba(124, 121, 121, 0.815);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
  }
  main .grid-container .cheese-pizza img {
    float: right;
  }
  main .grid-container .cheese-pizza a + p {
    float: left;
  }
  main .grid-container .greek-pizza {
    background-color: rgb(97, 91, 91);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
  }
  main .grid-container .greek-pizza img {
    float: left;
  }
  main .grid-container .greek-pizza a + p {
    float: right;
  }
  main .grid-container .ham-and-mushroom-pizza {
    background-color: rgba(124, 121, 121, 0.815);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
  }
  main .grid-container .ham-and-mushroom-pizza img {
    float: left;
  }
  main .grid-container .ham-and-mushroom-pizza a + p {
    float: right;
  }
  main .grid-container .bbq-pulled-pork-pizza {
    background-color: rgb(97, 91, 91);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
  }
  main .grid-container .bbq-pulled-pork-pizza img {
    float: left;
  }
  main .grid-container .bbq-pulled-pork-pizza a + p {
    float: right;
  }
  main .grid-container .california-pizza {
    background-color: rgba(124, 121, 121, 0.815);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
  }
  main .grid-container .california-pizza img {
    float: left;
  }
  main .grid-container .california-pizza a + p {
    float: right;
  }
  main .grid-container .chicago-deep-dish-pizza {
    background-color: rgb(97, 91, 91);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
  }
  main .grid-container .chicago-deep-dish-pizza img {
    float: left;
  }
  main .grid-container .chicago-deep-dish-pizza a + p {
    float: right;
  }
}
@media screen and (min-width: 1000px) {
  main img {
    width: 500px;
  }
}/*# sourceMappingURL=menu-item-style.css.map */