@import 'style.scss';

.menuItems {
  display: grid;
  grid-template-columns: 1fr;
}
@import 'min600';
@media screen and (min-width:600px) {
/*Break the menu into 2 columns instead of one and add colour*/
    main {
      .pizza {
        background: $gray-theme;
      }
      .lasagna {
        background: $gray-theme;
      }
      .spaghetti {
        background: $gray-theme;
      }
      .wings {
        background: $gray-theme;
      }
      .non-alcoholic {
        background: $gray-theme;
      }
      .beer {
        background: $gray-theme;
      }
      .wine {
        background: $gray-theme;
      }
      .desert {
        background: $gray-theme;
      }
      
      #menuItems {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(auto-fit, minmax(40vw,1fr));
      }
      
      #menuItems {
        font-size: 1em;
        text-align: center;
        grid-gap: 1vw;
        a {
          color: $purple-theme;
        }
      }
      img {
        width: 250px;
        float: left;
      }
    }
 /*Break the menu into 3 columns instead of 2*/
  @media screen and (min-width:1000px) {
    main {
      #menuItems {
        display: grid;
        grid-template-columns: repeat(3,1fr);
      }
      
      #menuItems {
        font-size: 1em;
        text-align: center;
        grid-gap: 1vw;
      }

      img{
        width: 200px;
      }
    }
  }
}