 // I need to get the nav bar to go to the top right side of the screen and stay fixed there
  // nav{
  //   top: 5%;
  // }
  @import 'color-theme';
@media screen and (min-width:1000px) {
  main {
    img {
      height: 80vh;
    }
    iframe{
      height: 60vh;
      width: 80vw;
    }
  }
}