@import 'color-theme';
@media screen and (min-width:1000px) {
  main {
    img {
      height: 80vh; /*img increases in size again to a bigger fixed image so it won't get distorted*/
    }
    iframe{
      height: 60vh;
      width: 80vw;
    }
  }
}