@import 'color-theme';
@media screen and (min-width:600px) {
  /*the a link and p do a swith above 600, the a tag for the clickable phone number disappears and the the p becomes visible*/
  header {
    a:link {
      display: none;
    }
    p{
      display: inline;
      color: $white-theme;
    }
  }
  
  main {
    img {
      height: 40vh;
    }
    iframe{
      height: 60vh;
      width: 80vw;
    }
  }
}

