/* 
NEED TO FINISH
-VIDEO NEEDS TO HAVE IT'S NATURAL SIZE INPUT INTO CSS
*/
* {
  margin: 0;
  padding: 0;
}

@import 'color-theme'; 

body {
  background-color: $gray-theme;
} /*THIS ONLY APPLIES TO THE HEADER AND FOOTER! The main will be bisque (on top) of it (think z-index)*/

header {
  display: inline-block;
  font-size: 3rem;
  a:link {
    color: $white-theme;
  }
  a:active {
    color: $pink-theme;
  } /*the a tag will disappear above 600*/
  img {
    width: 75px; /*for logo*/
  }
  p{
    display: none; /*this is for the phone nuumber that is not clickable, it will change above 600*/
  }
}

main { 
  .title {
    font: 2em sans-serif;
  } 
  .subtitle {
    font: 1.5em sans-serif;
  }
  img {
    height: 20vh;
    align-items: center;
  }
  color: $orange-theme2;
  background-color: $white-theme;
  font-size: large;
  font: bold;
  text-align: center;
  padding: 1rem;
  grid-gap: 1vw;
/*below in the div.scrollmenu sections is the horizontal scroll info on the index page*/
  div.scrollmenu {
    background-color: $white-theme;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block; 
    color: $orange-theme;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  nav {
    font-size: 1.5rem;
    position: fixed;
    bottom: 5%;
    background-color: $gray-theme2;
    a:link {
      color: $purple-theme;
    }
    a:active {
      color: $pink-theme;
    }
    a:visited {
      color: $orange-theme;
      font-weight: bold;
    } 
  }
}

footer {
  img {
  display: inline-block;
  height: 50px;
  }
}