/* DO NOT LINK API KEY!!!!!!!!!!

all i have left for mobile is to:
-fix git
-organize files in explorer by sass, html 
-WHAT DOES 24 ITEMS ACTUALLY MEAN FOR THE ASSIGNMENTS REQUIREMENTS?????? See below in if i have time section
-is there supposed to be the <and> on line 2 of min600?
-I designed my tablet version by changing the view to only 390 tall, to simulate a phone going into tablet mode. Is that always going to work for design? or would it be better to keep it full height? 
-did i do the twitter card correct?, and on that note, how can i do them better for seo?
-can i do the 40 year counter without js?

problems i have to fix
-my paragraphs are going out on the mobile still, so i need to fix that
- i have to center the nav bar. its not a problem on mobile really but is off to the left on tablet
  - i have to do the same thing to the phone number at the top of the page
- on desktop (1024x768) I want to change the entire layout to not be a list, but instead be a grid 

if i can/have time
-add the "hidden menu" and navigation for things like specific type of pizza -> maybe leave until I complete everything and either add that as a cool feature, or back up plan is to just make a cell for every item (that's not as cool, but time management) 
    could make it so that the "hidden menu" just pops up over what is already working and displays the different types of food? like pizza types and beer brands? 
        WHAT DOES 24 ITEMS ACTUALLY MEAN FOR THE ASSIGNMENTS REQUIREMENTS??????
-style nav bar
-make 40 year animation https://www.youtube.com/watch?v=PafZo0HqTQ4
-https://www.proglobalbusinesssolutions.com/css-hover-effects/ for ideas to implement
-popup that looks like an incoming facetime is effective. I saw this at https://www.lifehack.org/articles/productivity/types-procrastination-and-how-you-can-fix-them.html about halfway down the page it just pops out

formula to make users know there is more (especally horizontal scrolling)
so set all of the widths(or heights) of a particular section so that the sum is between 80-90% of the screen, then there is always 10-20% of the next section on the screen, so the user knows it is there.


*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5c5757;
}

header {
  display: inline-block;
  font-size: 3rem;
}

header a:link {
  color: white;
}

header a:active {
  color: hotpink;
}

header img {
  width: 75px;
}

main {
  color: #e69a0f;
  font-size: large;
  font: bold;
  text-align: center;
  padding: 1rem;
  grid-gap: 1vw;
  /*change up the code below to make it my own. all div.scrollmenu*/
  /*because they are all in the animated id does that mean 
i think i need to make a class of animation and a class of images and they are the start and end point of he animation.
 perhaps i could put this animated section in it's own page and import it like i will with colours*/
}

main .title {
  font: 2em sans-serif;
}

main .subtitle {
  font: 1.5em sans-serif;
}

main img {
  height: 20vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

main div.scrollmenu a {
  display: block;
  /*was inline-block, I think it was for sideways scroll*/
  color: rbg(222, 70, 7);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

main nav {
  font-size: 1.5rem;
  position: fixed;
  margin: 20px;
  bottom: 5%;
  background-color: #9b9797;
}

main nav a:link {
  color: maroon;
}

main nav a:active {
  color: hotpink;
}

main nav a:visited {
  color: rbg(222, 70, 7);
  font-weight: bold;
}

footer img {
  display: inline-block;
  height: 50px;
}

/* add that to above 1100*
  // div.scrollmenu a:hover {
    background-color: $gray-theme2;
  } */
@media screen and (min-width: 600px) {
  main img {
    height: 60vh;
  }
  main iframe {
    height: 60vh;
    width: 80vw;
  }
}
/*# sourceMappingURL=min600.css.map */